name: "deploy"

env:
  SSH_USER: dronaidemo
  SSH_HOST: 104.248.246.102
  REPO_DIR: dronaidemo
  SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: "deployment"
        uses: actions/checkout@v3

      - run: |
          mkdir ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_github
          chmod 600 ~/.ssh/id_github
          rsync -hrW -e "ssh -i ~/.ssh/id_github -o StrictHostKeyChecking=no" . $SSH_USER@$SSH_HOST:~/$REPO_DIR
          rm ~/.ssh/id_github

